__pycache__/
*.pyc
*.pyo
*.db
.env
.venv/
venv/
*.egg-info/
dist/
build/
.idea/
.vscode/

# Electron
node_modules/
dist-electron/
python-dist/
*.exe
!build/icon.ico
!build/license.txt
!build/installer.nsh
